<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDuenioService" />
                <binding name="BasicHttpBinding_ICitaService" />
                <binding name="BasicHttpBinding_IVeterinarioService" />
                <binding name="BasicHttpBinding_IMascotaService" />
                <binding name="BasicHttpBinding_IHistoriaClinicaService" />
                <binding name="BasicHttpBinding_IDiagnosticoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://zeus/duenioS/DuenioService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDuenioService" contract="proxyDuenio.IDuenioService"
                name="BasicHttpBinding_IDuenioService" />
            <endpoint address="http://localhost:52011/CitaService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICitaService" contract="proxyCita.ICitaService"
                name="BasicHttpBinding_ICitaService" />
            <endpoint address="http://zeus/VeterinarioService/VeterinarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVeterinarioService"
                contract="proxyVeterinario.IVeterinarioService" name="BasicHttpBinding_IVeterinarioService" />
            <endpoint address="http://zeus/MascotaService/MascotaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMascotaService"
                contract="proxyMascota.IMascotaService" name="BasicHttpBinding_IMascotaService" />
            <endpoint address="http://zeus/HistoriaClinicaService/HistoriaClinicaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHistoriaClinicaService"
                contract="proxyHistoriaClinica.IHistoriaClinicaService" name="BasicHttpBinding_IHistoriaClinicaService" />
            <endpoint address="http://zeus/DiagnosticoServices/VetrinariaServiceDiagnosticoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDiagnosticoService"
                contract="proxyDiagnostico.IDiagnosticoService" name="BasicHttpBinding_IDiagnosticoService" />
        </client>
    </system.serviceModel>
</configuration>