<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="VeterinariaServices.CitaService">
        <endpoint address="" binding="basicHttpBinding" contract="VeterinariaServices.ICitaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/VeterinariaServices/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="VeterinariaServices.DiagnosticoService">
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          contract="VeterinariaServices.IDiagnosticoService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/VeterinariaServices/Service2/" />
          </baseAddresses>
        </host>
      </service>
      <service name="VeterinariaServices.DuenioService">
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          contract="VeterinariaServices.IDuenioService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/VeterinariaServices/Service3/" />
          </baseAddresses>
        </host>
      </service>
      <service name="VeterinariaServices.VeterinarioService">
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          contract="VeterinariaServices.IVeterinarioService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/VeterinariaServices/Service4/" />
          </baseAddresses>
        </host>
      </service>
      <service name="VeterinariaServices.MascotaService">
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          contract="VeterinariaServices.IMascotaService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/VeterinariaServices/Service5/" />
          </baseAddresses>
        </host>
      </service>
      <service name="VeterinariaServices.HistoriaClinicaService">
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          contract="VeterinariaServices.IHistoriaClinicaService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/VeterinariaServices/Service6/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, 
          establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, 
          establezca el valor siguiente en true. Para no revelar información sobre las excepciones 
          establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="HistoriaClinicaVeterinariaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZEUS\SQLEXPRESS;initial catalog=HistoriaClinicaVeterinaria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HistoriaClinicaVeterinariaEntities1" connectionString="metadata=res://*/ModeloVeterinaria.csdl|res://*/ModeloVeterinaria.ssdl|res://*/ModeloVeterinaria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZEUS\SQLEXPRESS;initial catalog=HistoriaClinicaVeterinaria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
